<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- Dependent class -->
	<bean id="dt" class="com.sr.beans.Dtdc"></bean>
	<bean id="bd" class="com.sr.beans.Bluedart"></bean>

<!-- Target Class -->
<bean id="fkart" class="com.sr.beans.Flipkart">
	<constructor-arg ref="dt"/>
</bean>

</beans>
